.home {
  width: 100vw;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-section-1 {
  height: calc(100vh);
  color: white;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  background-image: url("../../assets/images/new.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.link-logos-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.link-logo {
  padding: 5px 0;
}
.main-home-body {
  letter-spacing: 1.2;
  width: 500px;
}
.main-home-body > .line-1 {
  font-size: 28px;
}
.main-home-body > .line-1 > span {
  color: #e31b6d;
  font-size: 52px;
  font-weight: 500;
  text-decoration: none;
}
.main-home-body > .line-2 {
  color: white;
  font-weight: 400;
  margin-top: 10px;
  font-size: 20px;
  text-decoration: none;
}
.home-more-btn {
  margin: 15px 0;
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 16px;
  outline: none;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.home-more-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  outline: none;
}
.resume-btn {
  margin: 15px 0;
  margin-left: 20px;
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 16px;
  outline: none;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.resume-btn:hover {
  background-color: #e31b6d;
  border: 2px solid transparent;
  outline: none;
}
.home-section-2 {
  height: calc(100% -60px);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .wrapper {
    background-image: url("../../assets/images/new.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home {
    width: 100vw;
    height: 100%;
    padding: 200px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-section-1 {
    height: calc(100vh);
    color: white;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-home-body > .line-1 {
    font-size: 24px;
  }
  .main-home-body > .line-1 > span {
    color: #e31b6d;
    font-size: 36px;
    text-decoration: none;
  }
  .main-home-body > .line-2 {
    color: white;
    font-weight: 400;
    /* padding-top: 40px; */
    margin-top: 10px;
    font-size: 18px;
    padding-right: 20px;
    text-decoration: none;
  }
  .link-logos-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .link-logo {
    padding: 0px 0;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .home-more-btn {
    margin: 10px 0 10px 0;
  }
  .resume-btn {
    margin: 0 0 10px 0;
  }
}

/* .terminal {
  height: 60vh;
  width: 40vw;
  border: none;
  background: rgba(0, 0, 0, 0.39);
  border-radius: 7px;
  z-index: 100;
  box-shadow: 0px 2px 5px 2px rgb(102, 102, 102);
  animation: openTerminal 0.4s;
}
@keyframes openTerminal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.terminal-header {
  position: relative;
  height: 25px;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: beige;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.terminal-title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgb(44, 43, 43);
  font-size: 14px;
  font-weight: 600;
}
.terminal-header-options {
  display: flex;
  flex-direction: row;
}
.terminal-option-btn {
  height: 15px;
  width: 15px;
  margin: 0 4px;
  border-radius: 50%;
}
.terminal-body {
  position: relative;
  height: 100%;
  width: 100%;
  color: beige;
  font-size: 14px;
  padding: 5px 10px;
  letter-spacing: 1.1px;
} */
