.home {
  width: 90%;
  height: calc(100% -60px);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.link-logos-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-logo {
  padding: 15px 0;
}
.main-home-body {
  font-weight: 500;
  letter-spacing: 1.2;
}
.main-home-body > .line-1 {
  font-size: 44px;
}
.main-home-body > .line-1 > span {
  color: #e31b6d;
  font-size: 44px;
  text-decoration: none;
}
.main-home-body > .line-2 {
  color: white;
  font-size: 24px;
  text-decoration: none;
}
.home-more-btn {
  margin: 15px 0;
  padding: 5px 20px;
  color: white;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 2px;
  font-size: 20px;
  outline: none;
}
.home-more-btn:hover {
  background-color: #00bcd4;
  border: 2px solid #00bcd4;
}
/* .terminal {
  height: 60vh;
  width: 40vw;
  border: none;
  background: rgba(0, 0, 0, 0.39);
  border-radius: 7px;
  z-index: 100;
  box-shadow: 0px 2px 5px 2px rgb(102, 102, 102);
  animation: openTerminal 0.4s;
}
@keyframes openTerminal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.terminal-header {
  position: relative;
  height: 25px;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: beige;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.terminal-title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgb(44, 43, 43);
  font-size: 14px;
  font-weight: 600;
}
.terminal-header-options {
  display: flex;
  flex-direction: row;
}
.terminal-option-btn {
  height: 15px;
  width: 15px;
  margin: 0 4px;
  border-radius: 50%;
}
.terminal-body {
  position: relative;
  height: 100%;
  width: 100%;
  color: beige;
  font-size: 14px;
  padding: 5px 10px;
  letter-spacing: 1.1px;
} */
