.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.342);
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrapper {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.header-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
.header-li > a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}
